.board {
  display: grid;
  grid-template-columns: repeat(4,  1fr);
  grid-template-rows: repeat(4,  1fr);
  gap: 5px;
  margin: 10px auto;
  width: 60vh;
  height: 60vh;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 30px var(--board-shadow);
  box-sizing: border-box;
}