:root {
  --background-color: #f3eedb;
  --primary-text-color: white;
  --primary-orange-color: #dd6b38;
  --secondary-orange-color: #f4b497;
  --empty-tile-color: rgba(205, 205, 205, 0.94);
  --modal-fone-color: #000000B3;
  --shadow-color:  #FFFFFF33;
  --shadow-orange-color: 0 0 10px #ff8c00cc,
  0 0 20px #ff8c0099,
  0 0 30px #ff8c0066;
}
